@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Andika);

body {background: #EEEEEE url(dt-logo-trans-40.png) 20px 30px no-repeat;}

#preso{}
.slide {}
.handwritting{font-family:'Gloria Hallelujah', cursive;}
.bullets, h1, h2, h3, h4, h5 {font-family: 'Andika' san-serif;}
